<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>

<p>Find me on GitHub: <button class="social-btn"><%= link_to "Go To GitHub", "https://github.com/jdg006", class: "social-btn" %></button></p>

